<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <% if current_user && current_user.admin? %>
        <li class="nav-item"><%= link_to "Hola admin #{current_user.nickname}", '#', class: 'nav-link' %></li>
        <% elsif current_user %>
        <li class="nav-item"><%= link_to "Hola #{current_user.nickname}", '#', class: 'nav-link' %></li>
        <% end %>

        <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link'%></li>
        <% else %>
        <li class="nav-item"><%= link_to 'Log In', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>